<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta property="environment:local_timezone" content="{{ meta_local_timezone }}">
    <meta property="environment:build_machine" content="{{ meta_build_machine }}">
    <title>IDK</title>
  </head>
  <body>
    <div style="font-size: 32px">
      <b>You should visit:</b>
      <br />
      <ul>
        {% for profile_html_name in profiles %}
        <li>
          <a href="https://{{hosting_path}}/{{profile_html_name}}"
            >{{profile_html_name}}</a
          >
        </li>
        {% endfor %}
      </ul>
    </div>
    <br />
    <div style="font-size: 10px">{{gen_time}}</div>
  </body>
</html>
