@charset "UTF-8";

table {
  border: 2px solid black;
  border-radius: 5px;
  width: 100%;
}

tr {
  border-bottom: 1px solid #ccc;
}

body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
}

h1 {
  background-color: #3b5998;
  color: white;
  font-weight: bold;
  font-size: 28px;
  width: 100%;
  padding: 10px 0;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}

h2 {
  font-size: 20px;
  color: #333;
  font-weight: normal;
  text-align: center;
}

th {
  background-color: #eee;
  text-align: center;
}

td {
  text-align: left;
}

a {
  color: #000;
}

hr {
  display: block;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  border-style: inset;
  border-width: 4px;
}

.completed {
  color: green;
}

.uncompleted {
  color: red;
}

    .i18n_card {
        border: 1px solid #ccc; /* 给卡片加上边框 */
        border-radius: 5px; /* 可选：给卡片加上圆角 */
        padding: 10px; /* 卡片内边距 */
        margin-bottom: 10px; /* 卡片之间的间隔 */
        display: flex; /* 使用flex布局使内容并排 */
    }

    .i18n_lang_name, .i18n_name {
        width: 50%; /* 左半部分占一半宽 */
        padding-right: 5px; /* 右侧留一些间隔 */
    }

    .i18n_lang_name code, .i18n_name code {
        background-color: #f0f0f0; /* 代码部分背景色 */
    }

    .i18n_card > div {
        display: flex;
        justify-content: space-between; /* 分散对齐，使左侧和右侧内容对齐两端 */
    }

    .i18n_card > div::after {
        content: '|'; /* 分隔符 */
        margin-left: 5px; /* 分隔符和文字之间的间隔 */
    }

        .main_page {
        border: 1px solid #ccc; /* 给卡片加上边框 */
        border-radius: 5px; /* 可选：给卡片加上圆角 */
        padding: 10px; /* 卡片内边距 */
        margin-bottom: 10px; /* 卡片之间的间隔 */
        display: flex; /* 使用flex布局使内容并排 */
    }
     .main_page_semi {
        border: 1px solid #ccc; /* 给卡片加上边框 */
        border-radius: 5px; /* 可选：给卡片加上圆角 */
        padding: 10px; /* 卡片内边距 */
        margin-bottom: 10px; /* 卡片之间的间隔 */
        display: flex; /* 使用flex布局使内容并排 */
    }